<%= form_for([@productinfo]) do |f| %>
  <% if @productinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productinfo.errors.count, "error")%> prohibited this product from being saved:</h2>
      <ul><% @productinfo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <% if @branchinfo.present? %>

    <p><%= f.label :BranchinfoID %>
      <br />
      <%= f.text_field :branchinfo_id, :value => @branchinfo.id %>
    </p>
      <% end %>

    <p><%= f.label :Productname %>
      <br />
      <%= f.text_field :productname %>
    </p>
  </div>

  <div>
    <p><%= f.label :StoreProductID %>
      <br />
      <%= f.text_field :storeproductid %>
    </p>
  </div>

  <div>
    <p><%= f.label :ProductPrice %>
      <br />
      <%= f.text_field :productprice %>
    </p>
  </div>

  <div>
    <p><%= f.label :Image %>
      <br />
      <%= f.text_field :image %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Cancel',
                {:controller => "branchinfos", :action => "index",
                 :branchinfo_id => @branchinfo.id, :storeinfo_id => @branchinfo.storeinfo_id}%>
  </div>
<% end %>