<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
</br>

<%= form_for([@productinfo]) do |f| %>
  <% if @productinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productinfo.errors.count, "error")%> prohibited this product from being saved:</h2>
      <ul><% @productinfo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @productinfo.present? %>
    <%= f.hidden_field :user_id, :value => @productinfo.user_id %>
    </br>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <% if @branchinfo.present? %>
    <%= f.hidden_field :branchinfo_id, :value => @branchinfo.id %>
  <% end %>
  <div class="row">
  <div class="col-sm-2 col-form-label">
    <%= f.label :Productname %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%= f.text_field :productname %>
  </div>

  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :StoreProductID %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= f.text_field :storeproductid %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :ProductPrice %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= f.text_field :productprice %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Image %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="btn alert alert-danger col-sm-4" style="background-color: #eee;">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>