<%= form_with(model: productinfo, local: true) do |form| %>
  <% if productinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(productinfo.errors.count, "error") %> prohibited this productinfo from being saved:</h2>

      <ul>
        <% productinfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :productname %>
    <%= form.text_field :productname %>
  </div>

  <div class="field">
    <%= form.label :storeproductid %>
    <%= form.text_field :storeproductid %>
  </div>

  <div class="field">
    <%= form.label :productprice %>
    <%= form.text_field :productprice %>
  </div>

  <div class="field">
    <%= form.label :branchinfo_id %>
    <%= form.text_field :branchinfo_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :categorie_id %>
    <%= form.text_field :categorie_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
