<%= form_for([@currentStore, @currentBranch, @currentProduct]) do |f| %>
  <% if @currentProduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currentProduct.errors.count, "error")%> prohibited this product from being saved:</h2>
      <ul><% @currentProduct.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p><%= f.label :Productname %>
      <br />
      <%= f.text_field :productname %>
    </p>
  </div>

  <div>
    <p><%= f.label :StoreProductID %>
      <br />
      <%= f.text_field :storeproductid %>
    </p>
  </div>

  <div>
    <p><%= f.label :PProductPrice %>
      <br />
      <%= f.text_field :productprice %>
    </p>
  </div>

  <div>
    <p><%= f.label :Image %>
      <br />
      <%= f.text_field :image %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit %></div>
<% end %>