<h1>Products in Branch <%= @branchinfo.branchname %></h1>

<%=
  link_to 'Download as Excel',
          productinfos_path(format: :xlsx, :branchinfo_id => @branchinfo.id)
%>
<%=
  link_to 'Upload from Excel',
          new_productinfos_import_path(:branchinfo_id => @branchinfo.id)
%>

<table>
  <tr>
    <th>Product Name</th>
    <th>Store Product Id</th>
    <th>Product Price</th>
    <th>Image</th>
  </tr>

  <% for product in @productList %>
    <tr>
      <% if current_user.admin? || product.user_id == current_user.id %>
        <td><%= product.productname %></td>
        <td><%= product.storeproductid %></td>
        <td><%= product.productprice %></td>
        <td><%= product.image %></td>
        <td><%= link_to'Show', {:controller => "productinfos", :action => "show",
                                :id => product.id, :branchinfo_id => product.branchinfo_id}%></td>
        <td><%= link_to'Edit', edit_productinfo_path(product) %></td>
        <td><%= link_to'Destroy', productinfo_path(product),
                       :confirm =>'Are you sure?',
                       :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end %>
    </tr>
  <% end %>
</table>
<br />

<%= link_to'New Product', {:controller => "productinfos", :action => "new",
                           :branchinfo_id => @branchinfo.id} %>
<%= link_to'Back to Branches', {:controller => "branchinfos", :action => "index",
                                :branchinfo_id => @branchinfo.id, :storeinfo_id => @branchinfo.storeinfo_id} %>