<h1>Products in <%= @currentBranch.branchname %></h1>

<table>
  <tr>
    <th>Product Name</th>
    <th>Store Product Id</th>
    <th>Product Price</th>
    <th>Image</th>
  </tr>

  <% for product in @productList %>
    <tr>
      <td><%= product.productname %></td>
      <td><%= product.storeproductid %></td>
      <td><%= product.productprice %></td>
      <td><%= product.image %></td>
      <td><%= link_to'Show', storeinfo_branchinfo_productinfo_path(@currentBranch, product)%></td>
      <td><%= link_to'Edit', edit_storeinfo_branchinfo_productinfo_path(@currentBranch, product)%></td>
      <td><%= link_to'Destroy', storeinfo_branchinfo_productinfo_path(@currentBranch, product),
                     :confirm =>'Are you sure?',
                     :method => :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br />

<%= link_to'New Product', new_storeinfo_branchinfo_productinfo_path(@currentBranch.storeinfo_id, @currentBranch) %>
<%= link_to'Back to Branches', storeinfo_branchinfos_path(@currentBranch.storeinfo_id, @currentBranch) %>
