<h1>Products in <%= @currentBranch.branchname %></h1>

<p>
  <strong>Productname:</strong>
  <%= @currentProduct.productname %>
</p>

<p>
  <strong>Storeproductid:</strong>
  <%= @currentProduct.storeproductid %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @currentProduct.productprice %>
</p>

<p>
  <strong>Branchinfo:</strong>
  <%= @currentProduct.branchinfo_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @currentProduct.image %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @currentProduct.categorie_id %>
</p>

<%= link_to'Edit', edit_storeinfo_branchinfo_productinfo_path(@currentBranch, @currentProduct) %> |
<%= link_to'Back', storeinfo_branchinfo_productinfos_path(@currentBranch) %>