<p>
  <strong>Productname:</strong>
  <%= @productinfo.productname %>
</p>

<p>
  <strong>Storeproductid:</strong>
  <%= @productinfo.storeproductid %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @productinfo.productprice %>
</p>

<p>
  <strong>Branchinfo:</strong>
  <%= @productinfo.branchinfo_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @productinfo.image %>
</p>

<%= link_to'Edit', {:controller => "productinfos", :action => "edit",
                    :productinfo_id => @productinfo.id} %> |
<%= link_to'Back', {:controller => "productinfos", :action => "index",
                     :branchinfo_id => @productinfo.branchinfo_id} %>
<% branchid = @productinfo.branchinfo_id %>
<% storeid = Branchinfo.find(branchid).storeinfo_id %>
<% storename = Storeinfo.find(storeid).storename %>
<% if storename.downcase.include? "tesco" %>
  | <%= link_to 'Find store', check_path %>
<% end %>


