
<%= simple_form_for(@basket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <% if !@basket.order.empty? %>
      <%= f.hidden_field :order, :value => "{#{@basket.order}}" %>
    <% else %>
      <%= f.hidden_field :order, :value => "{#{@odItemIdArr}}" %>
    <% end %>
    <%= f.select :status, options_for_select(['New','Approved','Rejected'], @basket.status) %>
    <% if !@basket.user_id.nil? %>
      <%= f.hidden_field :user_id, :value => @basket.user_id %>
    <% else %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
