<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class ="container">
  </br>
  <h3 class="card-header">Previous Orders</h3>

  <% @baskets.each do |basket| %>
    <table class="table table-striped table-bordered">
      <tbody>
      <tr>
        <th><%= basket.name %></th>
        <th>Status  : <%= basket.status %></th>
        <th><%= basket.created_at %></th>
        <td class="btn badge badge-success"><%= link_to "Printable Invoice (PDF)", "http://localhost:3000/baskets.pdf" %></td>
      </tr>

          <% basket.order.each do |id| %>
            <% if id.include? "[" %>
              <% id = id.tr("[", " ") %>
            <% elsif id.include? "]" %>
              <% id = id.tr("]", " ") %>
            <% end %>
            <tr>
              <% product = Productinfo.find(OrderItem.find(id).productinfo_id) %>
              <% branch = Branchinfo.find(product.branchinfo_id) %>
              <% store = Storeinfo.find(branch.storeinfo_id) %>
              <td style="width: 132px;"><%= image_tag(product.image_url.to_s, width: '20%', style: "width: 132px;") %></td>
              <td><%= image_tag(store.image_url(:thumb).to_s) %></td>
              <td><%= branch.branchname %></td>
              <td><%= branch.address %></td>
              <td><%= product.productname %></td>
              <td><%= product.productprice %> EUR</td>
            </tr>
          <% end %>

      </tbody>
    </table>
  <% end %>
  <br>

</div>
</body>
</html>
