<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
</br>
<%= form_with(model: storeinfo, local: true) do |form| %>
  <% if storeinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storeinfo.errors.count, "error") %> prohibited this storeinfo from being saved:</h2>

      <ul>
        <% storeinfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :storename %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.text_field :storename %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :address %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.text_field :address %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :phoneno %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.text_field :phoneno %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :buisnessid %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.text_field :buisnessid %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :branchcount %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.number_field :branchcount, :value=>'1' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :storeincharge %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.text_field :storeincharge %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :contactno %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.text_field :contactno %>
    </div>
  </div>

  <div class="row">
    <% if @storeinfo.storename? == true %>
      <div class="col-sm-2 col-form-label">
        <%= form.hidden_field :user_id, :value => @storeinfo.user_id %>
      </div>
    <% else %>
      <div class="col-sm-2 col-form-label">
        <%= form.hidden_field :user_id, :value => current_user.id %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= form.label :image %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= form.file_field :image %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</body>
</html>
