<%= form_with(model: storeinfo, local: true) do |form| %>
  <% if storeinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storeinfo.errors.count, "error") %> prohibited this storeinfo from being saved:</h2>

      <ul>
        <% storeinfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :storename %>
    <%= form.text_field :storename %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phoneno %>
    <%= form.number_field :phoneno %>
  </div>

  <div class="field">
    <%= form.label :buisnessid %>
    <%= form.text_field :buisnessid %>
  </div>

  <div class="field">
    <%= form.label :branchcount %>
    <%= form.number_field :branchcount %>
  </div>

  <div class="field">
    <%= form.label :storeincharge %>
    <%= form.text_field :storeincharge %>
  </div>

  <div class="field">
    <%= form.label :contactno %>
    <%= form.number_field :contactno %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
