<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
</br>
<div class ="container">
  <h3 class="card-header">Search for your Product</h3>

  <form class="form-inline my-2 my-lg-0">
    <%= simple_form_for :search, url: {:controller => "home", :action => "Index"},
                        method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :productname, input_html: {value: ""} %>
      <div class="col-sm-6">
        <%= f.submit "Search", class: "btn btn-primary" %>
        <div class="btn btn-outline-success my-2 my-sm-0">
          <%= link_to "Clear", {:controller => "home", :action => "Index"} %>
        </div>
      </div>
    <% end %>
  </form>

  <% if @productList.present? == false%>
    <% @productList = @productSearch %>
  <% end %>

  <% if @productSearch.present? %>
    <table class="table table-striped table-bordered">
      <tr>
        <th></th>
        <th>Product Name</th>
        <th></th>
        <th>Store Name</th>
        <th>Product Price</th>
      </tr>
      </br>

      <% for product in @productList %>
        <tr>
          <% branch = Branchinfo.find(product.branchinfo_id) %>
          <% store = Storeinfo.find(branch.storeinfo_id) %>
          <td><%= image_tag(product.image_url(:thumb).to_s) %></td>
          <td><%= product.productname %></td>
          <td><%= image_tag(store.image_url(:thumb).to_s) %></td>
          <td><%= branch.branchname %></td>
          <td><%= product.productprice %></td>
          <td>
            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :productinfo_id, :value => product.id %>
              <%= f.number_field :quantity, :value => 1, :min => 1 %>
              <%= f.submit "Add to Cart", :class => "btn btn-secondary btn-sm" %>
            <% end %>
          </td>
          <% if current_user.admin? || product.user_id == current_user.id %>
            <td><%= link_to'Edit', edit_productinfo_path(product) %></td>
            <td><%= link_to'Destroy', productinfo_path(product),
                           :confirm =>'Are you sure?',
                           :method => :delete, data: { confirm: 'Are you sure?' } %></td>
            <%else %>
            <td></td>
          <%end %>
        </tr>
      <% end %>
    </table>
    <% elsif @productList.empty? %>
    </br>
      <h6>Sorry, the product you searched for is not available in our database.</h6>
    <p>Please check below the price from Tesco. Please check for the product at your nearest Tesco Branch </p>

    <table class="table table-striped table-bordered">
      <tr>
        <th></th>
        <th>Product Name</th>
        <th>Product Price</th>
      </tr>
      </br>
      <% if @tescoProduct.empty? %>
        <h6>Sorry, the product you searched for is not available in Tesco as well.</h6>
      <% else %>
        <% for product in @tescoProduct %>
          <tr>
            <td><%= image_tag product["image"]  %></td>
            <td><%= product["name"] %></td>
            <td><%= product["price"] %></td>
          </tr>
        <% end %>
      <% end %>

    </table>

  <% end %>

  </br>

  <% if @productHash.present? %>
    <table class="table table-striped table-bordered" style="width: 50%">
      <% @productHash.each do |key, value| %>
        <tr>
          <td style="width: 50%"><%= key %></td>
          <td class = "btn btn-outline-success"><%= link_to'Show', {:controller => "compare", :action => "index",
                                  :pdName => key, :pdID => value } %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div>
    <% if current_user != nil %>
      <% storeCreated = false %>
      <% @storeList = Storeinfo.all %>
      <% for store in @storeList %>
        <% if store.user_id == current_user.id %>
          <% storeCreated = true %>
          <div class="row">
            <div class = "alert alert-primary col-sm-2">
              <%= link_to 'Show Stores', {:controller => "storeinfos", :action => "index"} %>
            </div>
            <% if !current_order.id.nil? %>
              <div class="alert alert-success col-sm-4" style="width: 50%">
                <%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal} EUR", carts_show_path %>
              </div>
              </div>
            <% end %>
            <% break %>
        <% end %>
      <% end %>

      <% if storeCreated == false %>
        <% if current_user.admin? %>
          <div class = "alert alert-primary col-sm-2">
            <%= link_to 'Show Stores', {:controller => "storeinfos", :action => "index"} %>
          </div>
        <% else %>
          <div class="row">
            <div class = "alert alert-primary col-sm-4">
              <%= link_to 'Opened a New Store?', new_storeinfo_path %>
            </div>
            <% if !current_order.nil? %>
              <div class="alert alert-success col-sm-4">
                <%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal} EUR", carts_show_path %>
              </div>
              </div>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</body>
</html>