<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class ="container">
  <h1>Search for your Product</h1>

  <form class="form-inline my-2 my-lg-0">
    <%= simple_form_for :search, url: {:controller => "home", :action => "Index"},
                        method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :productname, input_html: {value: ""} %>
      <div class="col-sm-6">
        <%= f.submit "Search", class: "btn btn-primary" %>
        <div class="btn btn-outline-success my-2 my-sm-0">
          <%= link_to "Clear", {:controller => "home", :action => "Index"} %>
        </div>
      </div>
    <% end %>
  </form>

  <% if @productList.present? == false%>
    <% @productList = @productSearch %>
  <% end %>

  <% if @productSearch.present? %>
    <table class="table table-striped table-bordered" style="width: 50%">
      <tr>
        <th></th>
        <th>Product Name</th>
        <th>Store Name</th>
        <th>Product Price</th>
        <td></td>
        <td></td>
      </tr>
      </br>

      <% for product in @productList %>
        <tr>
          <td><%= image_tag(product.image_url(:thumb).to_s) %></td>
          <td><%= product.productname %></td>
          <td><%= Branchinfo.find(product.branchinfo_id).branchname %></td>
          <td><%= product.productprice %></td>
          <td><%= link_to'Show', {:controller => "productinfos", :action => "show",
                                  :id => product.id, :branchinfo_id => product.branchinfo_id}%></td>
          <% if current_user.admin? || product.user_id == current_user.id %>
            <td><%= link_to'Edit', edit_productinfo_path(product) %></td>
            <td><%= link_to'Destroy', productinfo_path(product),
                           :confirm =>'Are you sure?',
                           :method => :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
            <td></td>
          <%end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  </br>

  <% if @productHash.present? %>
    <table class="table table-striped table-bordered" style="width: 50%">
      <% @productHash.each do |key, value| %>
        <tr>
          <td style="width: 50%"><%= key %></td>
          <td class="nav-item nav-link active" style="width: 50%"><%= link_to'Show', {:controller => "compare", :action => "index",
                                                                                      :pdName => key, :pdID => value } %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div>
    <% if current_user != nil %>
      <% storeCreated = false %>
      <% @storeList = Storeinfo.all %>
      <% for store in @storeList %>
        <% if store.user_id == current_user.id %>
          <% storeCreated = true %>
          <div class = "btn btn-info">
            <%= link_to 'Show Stores', {:controller => "storeinfos", :action => "index"} %>
          </div>
          <% if !current_order.id.nil? %>
            <%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal} EUR", carts_show_path %>
          <% end %>
          <% break %>
        <% end %>
      <% end %>

      <% if storeCreated == false %>
        <% if current_user.admin? %>
          <%= link_to 'Show Stores', {:controller => "storeinfos", :action => "index"} %>
        <% else %>
          <%= link_to 'Opened a New Store?', new_storeinfo_path %>
          <% if !current_order.nil? %>
            <%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal} EUR", carts_show_path %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</body>
</html>