<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
</br>
<%= form_for([@branchinfo]) do |f| %>
  <% if @branchinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branchinfo.errors.count, "error")%> prohibited this branch from being saved:</h2>
      <ul><% @branchinfo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @storeinfo.present? %>
    <%= f.hidden_field :storeinfo_id, :value => @storeinfo.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :Branchname %>
      </div>
      <div class="col-sm-2 col-form-label">
        <%= f.text_field :branchname, :value => @storeinfo.storename %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Address %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= f.text_field :address %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Phoneno %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= f.text_field :phoneno %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Branchincharge %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= f.text_field :branchincharge %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :Contactno %>
    </div>
    <div class="col-sm-2 col-form-label">
      <%= f.text_field :contactno %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>