<%= form_for([@branchinfo]) do |f| %>
  <% if @branchinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@branchinfo.errors.count, "error")%> prohibited this branch from being saved:</h2>
      <ul><% @branchinfo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <% if @storeinfo.present? %>


      <%= f.hidden_field :storeinfo_id, :value => @storeinfo.id %>

      <%= f.hidden_field :user_id, :value => current_user.id %>


    <p><%= f.label :Branchname %>
      <%= f.text_field :branchname, :value => @storeinfo.storename %>
    </p>
  </div>
    <% end %>
  <div>
    <p><%= f.label :Address %>

      <%= f.text_field :address %>
    </p>
  </div>

  <div>
    <p><%= f.label :Phoneno %>

      <%= f.text_field :phoneno %>
    </p>
  </div>

  <div>
    <p><%= f.label :Branchincharge %>

      <%= f.text_field :branchincharge %>
    </p>
  </div>

  <div>
    <p><%= f.label :Contactno %>
      <%= f.text_field :contactno %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>