<%= form_for([@currentStore, @currentBranch]) do |f| %>
  <% if @currentBranch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currentBranch.errors.count, "error")%> prohibited this review from being saved:</h2>
      <ul><% @currentBranch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p><%= f.label :Branchname %>
      <br />
      <%= f.text_field :branchname %>
    </p>
  </div>

  <div>
    <p><%= f.label :Address %>
      <br />
      <%= f.text_field :address %>
    </p>
  </div>

  <div>
    <p><%= f.label :Phoneno %>
      <br />
      <%= f.text_field :phoneno %>
    </p>
  </div>

  <div>
    <p><%= f.label :Branchincharge %>
      <br />
      <%= f.text_field :branchincharge %>
    </p>
  </div>

  <div>
    <p><%= f.label :Contactno %>
      <br />
      <%= f.text_field :contactno %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit %></div>
<% end %>