<h1>Branches in <%= @currentStore.storename %></h1>

<table>
  <tr>
    <th>Branch details</th>
  </tr>

<% for br in @branchList %>
       <tr>
       <td><%= br.branchname %></td>
        <td><%= link_to'Show', storeinfo_branchinfo_path(@currentStore, br)%></td>
        <td><%= link_to'Edit', edit_storeinfo_branchinfo_path(@currentStore, br)%></td>
        <td><%= link_to'Destroy', storeinfo_branchinfo_path(@currentStore, br),
                       :confirm =>'Are you sure?',
                       :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
<br />

<%= link_to'New Branch', new_storeinfo_branchinfo_path(@currentStore) %>
<%= link_to'Back to Stores', @currentStore %>