<h1>Branches in <%= @currentBranch.branchname %></h1>

<p>
  <b>Branch details: </b>
  <%= @currentBranch.branchname %></p>

<p>
  <strong>Branch Address:</strong>
  <%= @currentBranch.address %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @currentBranch.phoneno %>
</p>

<p>
  <strong>Branchincharge:</strong>
  <%= @currentBranch.branchincharge %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @currentBranch.contactno %>
</p>

<%= link_to'Edit', edit_storeinfo_branchinfo_path(@currentStore, @currentBranch) %> |
<%= link_to'Back', storeinfo_branchinfos_path(@currentStore) %>
<%= link_to'Show Products', {:controller => "productinfos", :action => "new",
                             :storeinfo_id => @currentBranch.storeinfo_id, :branchinfo_id => @currentBranch.id} %>