

<p>
  <b>Branch details: </b>
  <%= @branchinfo.branchname %></p>

<p>
  <strong>Branch Address:</strong>
  <%= @branchinfo.address %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @branchinfo.phoneno %>
</p>

<p>
  <strong>Branchincharge:</strong>
  <%= @branchinfo.branchincharge %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @branchinfo.contactno %>
</p>

<%= link_to'Edit', {:controller => "branchinfos", :action => "edit",
                    :storeinfo_id => @branchinfo.storeinfo_id, :branchinfo_id => @branchinfo.id} %> |
<%= link_to'Back', {:controller => "branchinfos", :action => "index",
                    :storeinfo_id => @branchinfo.storeinfo_id} %>
<%= link_to'Show Products', {:controller => "productinfos", :action => "index",
                             :storeinfo_id => @branchinfo.storeinfo_id, :branchinfo_id => @branchinfo.id} %>